variables:
  VERSION: 1.0.${CI_PIPELINE_ID}

stages:
- deploy

deploy:
  stage: deploy
  script:
  - |
    helm repo add nexus $NEXUS_HELM_REPO
    helm repo update
    
    helm upgrade --install sausage-store \
    --atomic --timeout 15m \
    nexus/sausage-store-chart
