variables:
    VERSION: 1.0.${CI_PIPELINE_ID}

stages:
  - deploy

deploy:
  stage: deploy
  #image: alpine/k8s:1.22.6
  image: bitnami/kubectl:latest
  environment:
    name: k8s
    url: https://std-013-20.k8s.praktikum-services.tech
  before_script:
    - mkdir -p ~/.kube
    - chmod 700 ~/.kube
    - cat "$kubeconfig" > ~/.kube/config
    - chmod 644 ~/.kube/config
  script:
    - kubectl apply -f kubernetes/ --recursive
